{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],

  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@service": "./src/service",
          "@express": "./src/express",
          "@entities": "./src/entities",
          "@utils": "./src/utils"
        },
        "extensions": [".js", ".ts"]
      }
    ]
  ]
}
